{% load static %}
{% load bootstrap4 %}
{#{% bootstrap_css %}#}
{% bootstrap_javascript jquery='full' %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'cinewise/css/bootstrap.min.css' %}">
    <title>Hola!</title>
</head>
<body>
<nav class="navbar navbar-light bg-light">
    <span class="navbar-brand mb-0 h1">Cinewise</span>
</nav>

<div class="container" style="padding-top: 50px">
    <h1 class="mt-2">Welcome to Cinewise!</h1>
    <h6 class="text-right">- a movie recommendation engine</h6>
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons submit="Submit" %}{% endbuttons %}
    </form>
    <hr class="mt-0 mb-4">
    <div class="mt-10">

    </div>
    <h3>How to use?</h3>
    <p>Enter your "interests" in the field above. Your interests can be movie names, actors, directors and even
        story-writers</p>
</div>
<!--    <script type="text/javascript" src="http://dal-yourlabs.rhcloud.com/static/collected/admin/js/vendor/jquery/jquery.js"></script>-->
<script type="text/javascript" src="{% static 'cinewise/js/jquery-3.4.1.js' %}"></script>
{{ form.media }}
<script type="text/javascript" src="{% static 'autocomplete_light/autocomplete.init.js' %}"></script>
<script type="text/javascript" src="{% static 'autocomplete_light/select2.js' %}"></script>
{#<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"#}
{#        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"#}
{#        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"#}
{#        crossorigin="anonymous"></script>#}
{#<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"#}
{#        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"#}
{#        crossorigin="anonymous"></script>#}
</body>
</html>